* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: "helvetica neue", arial, sans-serif;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

#header {
    font-weight: bold;
    text-align: center;
}

#header_left {
    float: left;
}

#header_right {
    float: right;
    text-align: right;
}

a.header_right {
    padding: 5px;
}

#about {
    color: DimGray;
    padding-left: 20px;
}

#homepage {
    color: DimGray;
    padding-left: 20px;
}

#logo {
    color: MidnightBlue;
    letter-spacing: 3px;
    float: left;
}

#articles {
    text-align: left;
}

#next_page {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

ul.articles {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#timestamp {
    color: #888;
    font-size: 9pt;
}

#url {
    font-weight: bold;
}

#related {
    font-weight: normal;
    color: DimGray;
}

#tags {
    font-weight: normal;
    color: #999;
    font-size: 10pt;
    float: right;
}

#tag {
    border: 2px solid grey;
    border-radius: 10px;
    float: left;
    padding: 2px;
    margin: 2px;
}

li.article {
    list-style-type: none;
    padding: 10px;
    padding-left: 0;
}

.flex-input {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    /* To see the outline of the form */
    padding: 0em;
}

input {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    /* width: 490px; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;

    flex: 1;
}

input:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

#tag_list {
    list-style-type: none;
    padding: 1px;
    /* padding-left: 90px; */
    margin: 0px;
}

.tag_list {
    border: 2px solid grey;
    border-radius: 10px;
    float: left;
    padding: 2px;
    margin: 0px;
}

.remove_button {
    background-color: lightpink;
    border: 2px solid pink;
    border-radius: 50%;
    font-size: 10px;
    margin: 0px;
    padding: 2px;
}

.input_hidden {
    display: none;
}

#submit_button {
    padding-top: 2px;
}

.form-button {
    width: 90px;
}
