* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: "helvetica neue", arial, sans-serif;
    margin: 0px;
}

#header_bar {
    position: fixed;
    top: 0px;
    width: 100%;

    line-height: 70px;
    background-color: steelblue;
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_left {
}

#header_right {
}

#header_account {
    font-size: 16px;
    font-weight: bold;

    color: White;
    margin-right: 20px;
}

#logo {
    text-align: left;
    color: White;
    vertical-align: middle;
    margin: 0px;
    margin-left: 20px;
    float: left;
}

input#search {
    background-color: white;
    height: 36px;
    width: 400px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 14px;
    box-shadow: none;
    margin: 0px;
    margin-left: 20px;
    padding: 5px;
    vertical-align: middle;
}

.okr_list {
    display: flex;
    flex-flow: row wrap;

    align-items: flex-start;
    justify-content: center;
}

.okr {
    border-radius: 5px;
    border: 2px solid silver;

    width: 500px;

    margin: 20px;
}

.okr_objective {
    margin: 10px;

    font-weight: bold;
    font-size: 16px;
}

.okr_kr_list {
}

.okr_kr {
    margin: 10px;
    margin-right: 0px;
}

#okr_wrapper {
    top: 70px;
    position: relative;
}

.okr_objective_toolbar {
    margin-right: 10px;
}

.okr_objective_toolbar_action {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 3px;
    margin: 1px;
    width: 2em;
    height: 2em;

}

.okr_objective_toolbar_action:hover {
    border: 1px solid rgba(0, 0, 0, 1.0);
}

.okr_objective_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.okr_kr_text {
}

.okr_kr_toolbar {
    margin-right: 10px;
}

.okr_kr_toolbar_action {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 3px;
    margin: 1px;
    width: 2em;
    height: 2em;
}

.okr_kr_toolbar_action:hover {
    border: 1px solid rgba(0, 0, 0, 1.0);
}

.okr_kr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.okr_time_header {
    margin: 5px;
    margin-left: 20px;

    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: start;
}

.okr_objective_kr_line {
    margin: 0px;
}

.okr_time_header_title {
    margin: 5px;
}

.okr_time_header_toolbar {
    margin-left: 10px;
}

.okr_time_header_line {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.scored_good {
    border-color: green;
}

.scored_bad {
    border-color: red;
}

.okr_kr_score {
    margin-right: 20px;
    font-weight: bold;
}

.okr_objective_scored_good {
    color: green;
}

.okr_objective_scored_bad {
    color: red;
}

.okr_objective_score {
    margin-right: 20px;
    font-weight: bold;
}

.okr_kr_scored_good {
    color: green;
}

.okr_kr_scored_bad {
    color: red;
}

.okr_time_header_toolbar_action {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 3px;
    margin: 1px;
    width: 2em;
    height: 2em;
}

.okr_time_header_toolbar_action:hover {
    border: 1px solid rgba(0, 0, 0, 1.0);
}

.hidden {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}

.okr_dialog_label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

.okr_dialog_button {
    margin-left: 90px;
}

#login_wrapper {
    top: 70px;
    position: relative;
}
