<dialog class="okr_dialog">
  <form method="POST" action="/v0/okr/@objective_id@/kr">
    <div>
      <label>Key Result: <input type="text" name="key_result"></label>
    </div>

    <button type="submit">Create</button>
    <button type="reset">Cancel</button>
  </form>
</dialog>
