<dialog class="okr_dialog">
  <form method="POST" action="/v0/okr">
    <div>
      <label class="okr_dialog_label" for="objective">Objective:</label>
      <input type="text" name="objective" />
    </div>

    <div>
      <label class="okr_dialog_label" for="organization">For:</label>
      <select name="organization">
        @-#organizations-@
        <option value="@org_id@" @?selected-@ selected @-/selected@>@org_name@</option>
        @-/organizations-@
      </select>
    </div>

    <div>
      <label class="okr_dialog_label" for="timeframe">Timeframe:</label><span class="capitalize">@timeframe@</span>
      <input class="hidden" name="timeframe" value="@timeframe@"></input>
    </div>

    <button class="okr_dialog_button" type="submit">Create</button>
    <button onclick="closeDialog()" type="button">Cancel</button>
  </form>
</dialog>
