@-#okrs-@
<div class="okr @-?score_good@ scored_good@/score_good@ @-?score_bad@ scored_bad@/score_bad@">
  <div class="okr_objective_header">
    <span class="okr_objective">@objective_title@</span>
    <span class="okr_objective_toolbar">
      @-?has_score@<span class="okr_objective_score @-?score_good@ okr_objective_scored_good@/score_good@ @-?score_bad@ okr_objective_scored_bad@/score_bad@">Score: @score | score@</span>@/has_score-@
      <button onclick="addKr('@objective_id@')" class="okr_objective_toolbar_action">&#10133;</button>
      <button class="okr_objective_toolbar_action">&#9998;</button>
      <button class="okr_objective_toolbar_action">&#9202;</button>
      <button class="okr_objective_toolbar_action">&#9203;</button>
      <button class="okr_objective_toolbar_action">&#10006;</button>
    </span>
  </div>
  <hr class="okr_objective_kr_line">
  <ol class="okr_kr_list">
    @-#krs-@
    <li class="okr_kr_item">
      <div class="okr_kr">
        <span class="okr_kr_text">@kr_text@</span>
        <span class="okr_kr_toolbar">
          @-?has_score-@
          <span class="okr_kr_score @-?score_good@ okr_kr_scored_good@/score_good@ @-?score_bad@ okr_kr_scored_bad@/score_bad@">Score: @score | score@</span>
          @-/has_score-@
          <button onclick="editKr('@objective_id@', '@kr_id@')" class="okr_kr_toolbar_action">&#9998;</button>
          <button onclick="removeKr('@objective_id@', '@kr_id@')" class="okr_kr_toolbar_action">&#10006;</button>
        </span>
      </div>
    </li>
    @-/krs-@
  </ol>
</div>
@/okrs@
